<!DOCTYPE html>
<html lang="en">
<head>
    <title>Matching Engine</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="Lib/bootstrap.min.css">
    <script src="Lib/font-awesome.js"></script>
    <script src="Lib/angular.min.js"></script>
    <script src="Lib/popper.min.js"></script>
    <script src="Lib/jquery.min.js"></script>
    <script src="Lib/bootstrap.min.js"></script>
    <link href="Lib/Styles.css" rel="stylesheet" />
    <link href="Lib/iziToast.min.css" rel="stylesheet" />
    <script src="Lib/iziToast.min.js"></script> 
</head>
<body ng-app="myApp">
    <div class="container-fluid" ng-controller="myController">
        <h1 class="text-center"><!--Matching--> Engine Client</h1>
        <div class="col-sm-12" ng-cloak ng-show="Stats">
            <hr />
            <div class="row">
                <div class="col-sm-3">
                    <div class="input-group" style="align-items:center;">
                        <button type="button" class="btn btn-warning btn-sm mr-1" ng-click="openManageModal()">Order Bot</button>
                        <button type="button" class="btn btn-info btn-sm mr-1" ng-click="getEndpoints()">Endpoints</button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h3 class="text-center">Market Pairs</h3>
                </div>
                <div class="col-sm-3">
                    <div class="input-group" style="align-items:center;">
                        <label for="RefreshInterval" class="m-0">Market Refresh Interval:</label>
                        <input class="form-control  form-control-sm" type="number" id="RefreshInterval" ng-model="StatsRefreshInterval" max="1000000" />
                        <div class="input-group-append">
                            <button type="button" title="{{AutoRefreshStats?'Auto Refresh Enabled!':'Auto Refresh Disabled!'}}" ng-class="AutoRefreshStats?'btn-success':'btn-danger'" class="btn btn-sm" aria-label="AutoRefreshStats" ng-click="AutoRefreshStats=!AutoRefreshStats; GetStats()">
                                <i class="fas fa-sync"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Reset</th>
                        <th>Pair</th>
                        <th>Submission</th>
                        <th>Processed</th>
                        <th>Trades</th>
                        <th>CurrentMarketPrice</th>
                        <th>Cancellation</th>
                        <th>Book</th>
                        <th>OpenOrders</th>
                        <th>DustOrders</th>
                        <th>TPS</th>
                        <th>Pair InitTime</th>
                        <th>Ticker</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{'info':item.pair==selectedPair}" ng-repeat="item in Stats">
                        <!--track by $index-->
                        <td><span class="p-2" ng-click="ResetME(item.pair)" style="color:red;font-size:larger; cursor:pointer"><i class="far fa-trash-alt"></i></span></td>
                        <td style="color:blue;font-weight:700;cursor:pointer" ng-click="SubscribeToMarketPair(item)" ng-bind="item.pair"></td>
                        <td ng-bind="item.stat.submission"></td>
                        <td ng-bind="item.stat.processed"></td>
                        <td ng-bind="item.stat.trades"></td>
                        <td ng-bind="item.stat.currentMarketPrice"></td>
                        <td ng-bind="item.stat.cancellation"></td>
                        <td ng-bind="item.stat.book"></td>
                        <td ng-bind="item.stat.openOrders"></td>
                        <td ng-bind="item.stat.dustOrders"></td>
                        <td ng-bind="item.stat.tps"></td>
                        <td ng-bind="item.stat.initTime | date : format : timezone"></td>
                        <td>
                            <span title="Click to Unsubscribe!" ng-show="item.pair==selectedPair" ng-click="UnSubscribeFromAllMarketPair()" style="color:green;font-size:larger; cursor:pointer"><i class="fas fa-volume-up"></i></span>
                            <span title="Click to Subscribe!" ng-click="SubscribeToMarketPair(item)" ng-show="item.pair!=selectedPair" style="color:gray;font-size:larger; cursor:pointer"><i class="fas fa-volume-mute"></i></span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th><span class="p-2" title="Reset all pairs!" ng-click="ResetME()" style="color:red; font-size:x-large; cursor:pointer"><i class="fas fa-trash-alt"></i></span></th>
                        <th ng-bind="'Total : '"></th>
                        <th ng-bind="TotalStats.Submission"></th>
                        <th ng-bind="TotalStats.Processed"></th>
                        <th ng-bind="TotalStats.Trades"></th>
                        <th ng-bind="'N/A'"></th>
                        <th ng-bind="TotalStats.Cancellation"></th>
                        <th ng-bind="TotalStats.Book"></th>
                        <th ng-bind="TotalStats.OpenOrders"></th>
                        <th ng-bind="TotalStats.DustOrders"></th>
                        <th ng-bind="TotalStats.TPS"></th>
                        <th>N/A</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>


        <div class="row">

            <div class="col-sm-5" ng-cloak ng-show="ws_match">
                <br />
                <hr />
                <br />
                <h4 class="text-center">Buy Order Book ({{selectedPair}})</h4>
                <br />
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Depth</th>
                            <th>Rate</th>
                            <th>Volume</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="danger" ng-repeat="item in OrderBook_SellArray | limitTo:10 | orderBy:'key':true">
                            <td ng-bind="(OrderBook_SellArray.length>10?10:OrderBook_SellArray.length)-$index"></td>
                            <td ng-bind="item.key"></td>
                            <td ng-bind="item.value"></td>
                            <td ng-bind="item.key*item.value |number:8"></td>
                        </tr>
                        <tr class="info">
                            <td>0</td>
                            <td ng-bind="'>>>>>> '"></td>
                            <td style="font-weight:800; text-align:center" ng-bind="marketRate"></td>
                            <td ng-bind="' <<<<<<'"></td>
                        </tr>
                        <tr class="success" ng-repeat="item in OrderBook_BuyArray | orderBy:'key':true | limitTo:10">
                            <td ng-bind="$index+1"></td>
                            <td ng-bind="item.key"></td>
                            <td ng-bind="item.value"></td>
                            <td ng-bind="item.key*item.value |number:8"></td>
                        </tr>

                    </tbody>
                </table>

            </div>

            <div class="col-sm-7" ng-cloak ng-show="ws_trade">
                <br />
                <hr />
                <br />
                <h4 class="text-center">Trades: ({{selectedPair}})</h4>
                <br />
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Pair</th>
                            <th>UserID(Buy/Sell)</th>
                            <th>OrderID(Buy/Sell)</th>
                            <th>Side</th>
                            <th>Volume</th>
                            <th>Rate</th>
                            <th>TimeStamp</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="{'success':item.Side==1,'danger':item.Side==2}" ng-repeat="item in Trades | limitTo:21">
                            <td ng-bind="item.ID"></td>
                            <td ng-bind="item.Pair"></td>
                            <td ng-bind="item.UserID_Buyer+'/'+item.UserID_Seller"></td>
                            <td ng-bind="item.OrderID_Buy+'/'+item.OrderID_Sell"></td>
                            <td ng-bind="item.Side"></td>
                            <td ng-bind="item.Volume"></td>
                            <td ng-bind="item.Rate"></td>
                            <td ng-bind="item.TimeStamp | date : format : timezone"></td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div> 
        <!-- Modal -->
        <div class="modal fade" id="ME_Endpoints_Modal" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content modal-lg">
                    <div class="modal-header">
                        <h4 class="modal-title">Matching Engine Endpoints</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>  <div class="modal-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Type</th>
                                    <th>Endpoint</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in  Endpoints">
                                    <td>{{$index+1}}</td>
                                    <td ng-bind="item.endPointType"></td>
                                    <td ng-bind="item.endPointUri"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Manage-->
        <div class="modal fade" id="ME_Manage_Modal" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Order Bot</h4>
                        <button type="button" class="close" data-dismiss="modal" ng-click="closeStatsModal()">&times;</button>
                    </div>  <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="numberOfOrders" class="mb-2 mr-sm-2">Number Of Orders:</label>
                                    <input class="form-control" type="number" id="numberOfOrders" ng-disabled="isOrderIsBeingPlaced" ng-model="numberOfOrders" max="1000000" />
                                </div>
                                <div class="form-group">
                                    <label for="inParallel" class="mb-2 mr-sm-2">In Parallel:</label>
                                    <input class="form-control" type="checkbox" id="inParallel" ng-disabled="isOrderIsBeingPlaced" ng-model="inParallel">
                                </div>
                                <div class="form-group">
                                    <label for="isBulk" class="mb-2 mr-sm-2">Bulk Mode:</label>
                                    <input class="form-control" type="checkbox" id="isBulk" ng-disabled="isOrderIsBeingPlaced" ng-model="isBulk">
                                </div>
                                <div class="form-group">
                                    <label for="interval" class="mb-2 mr-sm-2">interval:</label>
                                    <input class="form-control" type="number" id="interval" ng-disabled="inParallel || isBulk || isOrderIsBeingPlaced" ng-model="interval" max="100000" />
                                </div>
                                <div class="form-group">
                                    <label for="pair_" class="mb-2 mr-sm-2">pair:</label>
                                    <input class="form-control" type="text" id="pair_" ng-disabled="!isBulk || isOrderIsBeingPlaced" ng-model="pair" value="ETH_USDT" />
                                </div>
                                <div class="form-group text-center">
                                    <button id="placeOrder" type="button" class="btn btn-sm btn-success" ng-disabled="numberOfOrders<=0 || (isBulk && (!pair || pair.trim()== '')) || isOrderIsBeingPlaced" ng-click="PlaceOrder(numberOfOrders,inParallel,isBulk,pair,interval)">Place Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
    <script>


        function closeModal(id) {
            $("#" + id + " .close").click();
        }


        function openModal(id) {
            $('#' + id).modal({
                backdrop: 'static',
                keyboard: false
            });
        }

        function ShowAlert(msg, type) {
            if (msg != null && msg != undefined) {
                if (type == 'error') {

                    iziToast.error({
                        position: 'center',
                        messageSize: '20',
                        message: msg,
                        progressBarColor: '#01b6ad',
                    });
                }
                else if (type == 'success') {
                    iziToast.success({
                        position: 'center',
                        messageSize: '20',
                        message: msg,
                        progressBarColor: '#01b6ad',
                    });
                }
                else if (type == 'warning') {
                    iziToast.warning({
                        position: 'center',
                        messageSize: '20',
                        message: msg,
                        progressBarColor: '#01b6ad',
                    });
                }
                else if (type == 'info') {
                    iziToast.info({
                        position: 'center',
                        messageSize: '20',
                        message: msg,
                        progressBarColor: '#01b6ad',
                    });
                }
            }
        }





        var app = angular.module('myApp', []);
        app.filter('toArray', function () {
            return function (obj) {
                if (!(obj instanceof Object)) return obj;
                return Object.entries(obj).map(([key, value]) => ({ key, value }))
            }
        });

        app.controller('myController', function ($scope, $http, $timeout) {

            $scope.ResetAllVariables = function (trade = true, match = true, stat = true, other = true) {
                if (trade == true && $scope.ws_trade != undefined) {
                    $scope.ws_trade.close();
                    $scope.ws_trade = undefined; $scope.Trades = [];
                }

                if (match == true && $scope.ws_match != undefined) {
                    $scope.ws_match.close();
                    $scope.ws_match = undefined;
                    $scope.OrderBook_Buy = {};
                    $scope.OrderBook_Sell = {};
                    $scope.OrderBook_BuyArray = [];
                    $scope.OrderBook_SellArray = [];
                }
                if (stat == true)
                    $scope.Stats = [];
                if (other == true) {
                    $scope.selectedPair = 'N/A'; $scope.marketRate = 0;
                }
            }
            $scope.ResetAllVariables();
            $scope.format = 'h:mm:ss sss';

            //public enum OrderStatus {
            //    None = 1,
            //    Accepted = 2,
            //    PartiallyFilled = 3,
            //    FullyFilled = 4,
            //    Rejected = 5,
            //    CancellationPending = 6,
            //    CancellationAccepted = 7,
            //    CancellationRejected = 8,
            //}
            if ("WebSocket" in window) {


            } else {
                // The browser doesn't support WebSocket
                alert("WebSocket NOT supported by your Browser!");
            }


            $scope.SubTradeTicker = function (pair = "") {

                $scope.ResetAllVariables(true, false, false, false);
                // Let us open a web socket
                $scope.ws_trade = new WebSocket("ws://localhost:8088/MEWC_TradeTicker?pair=" + pair);

                $scope.ws_trade.onopen = function () {
                    $scope.ws_trade.send("Message to send");
                };

                $scope.ws_trade.onmessage = function (evt) {
                    let received_msg = evt.data;
                    //console.log(received_msg);
                    if (received_msg.startsWith('Status'))
                        return;

                    if (received_msg.startsWith('Init :')) {
                        $scope.Trades = JSON.parse(received_msg.replace('Init :', ''));
                    }
                    else {
                        $scope.Trades.unshift(JSON.parse(received_msg));
                        if ($scope.Trades.length > 10)
                            $scope.Trades.pop();
                    }
                    $scope.$apply();
                };

                $scope.ws_trade.onclose = function () {
                    console.log("connection closed.");
                };
            }
            $scope.SubMatchTicker = function (pair = "") {

                $scope.ResetAllVariables(false, true, false, false);
                // Let us open a web socket
                $scope.ws_match = new WebSocket("ws://localhost:8088/MEWC_MatchTicker?pair=" + pair);

                $scope.ws_match.onopen = function () {
                    $scope.ws_match.send("Message to send");
                };

                $scope.ws_match.onmessage = function (evt) {
                    let received_msg = evt.data;
                    //console.log(received_msg);
                    if (received_msg.startsWith('Status'))
                        return;

                    if (received_msg.startsWith('Init :')) {
                        let OrderBook = JSON.parse(received_msg.replace('Init :', ''));
                        $scope.OrderBook_Sell = OrderBook.Sell;
                        $scope.OrderBook_Buy = OrderBook.Buy;
                        // $scope.Matches = JSON.parse(received_msg) ;
                    }
                    else {
                        let MatchResponse = JSON.parse(received_msg);
                        angular.forEach(MatchResponse.UpdatedSellOrders, function (item, index) {
                            //No Order with Rate exists
                            if ($scope.OrderBook_Sell[item.Rate] === undefined) {

                                //New Order
                                if (item.Status == 2) {
                                    $scope.OrderBook_Sell[item.Rate] = item.PendingVolume;
                                }
                            }
                            else {
                                //Rejected Or Cencellation
                                let existingVol = $scope.OrderBook_Sell[item.Rate];
                                if (item.Status == 5 || item.Status == 7 || item.Status == 8) {
                                    if (existingVol > item.PendingVolume)
                                        $scope.OrderBook_Sell[item.Rate] = (existingVol - item.PendingVolume);
                                    else
                                        delete $scope.OrderBook_Sell[item.Rate];
                                }
                            }

                        });

                        angular.forEach(MatchResponse.UpdatedBuyOrders, function (item, index) {
                            //No Order with Rate exists
                            if ($scope.OrderBook_Buy[item.Rate] === undefined) {

                                //New Order
                                if (item.Status == 2) {
                                    $scope.OrderBook_Buy[item.Rate] = item.PendingVolume;
                                }
                            }
                            else {
                                //Rejected Or Cencellation
                                let existingVol = $scope.OrderBook_Buy[item.Rate];
                                if (item.Status == 5 || item.Status == 7 || item.Status == 8) {
                                    if (existingVol > item.PendingVolume)
                                        $scope.OrderBook_Buy[item.Rate] = (existingVol - item.PendingVolume);
                                    else
                                        delete $scope.OrderBook_Buy[item.Rate];
                                }
                            }

                        });

                        angular.forEach(MatchResponse.NewTrades, function (item, index) {
                            //If Order with Rate exists
                            let existingVol_Buy = $scope.OrderBook_Buy[item.Rate];
                            if (!(existingVol_Buy === undefined)) {
                                if (existingVol_Buy > item.Volume)
                                    $scope.OrderBook_Buy[item.Rate] = (existingVol_Buy - item.Volume);
                                else
                                    delete $scope.OrderBook_Buy[item.Rate];
                            }
                            let existingVol_Sell = $scope.OrderBook_Sell[item.Rate];
                            if (!(existingVol_Sell === undefined)) {

                                if (existingVol_Sell > item.Volume)
                                    $scope.OrderBook_Sell[item.Rate] = (existingVol_Sell - item.Volume);
                                else
                                    delete $scope.OrderBook_Sell[item.Rate];
                            }
                            $scope.marketRate = item.Rate;
                        });

                    }

                    $scope.OrderBook_BuyArray = Object.entries($scope.OrderBook_Buy).map(([key, value]) => ({ key, value }));
                    $scope.OrderBook_SellArray = Object.entries($scope.OrderBook_Sell).map(([key, value]) => ({ key, value }));

                    $scope.$apply();
                };

                $scope.ws_match.onclose = function () {
                    console.log("connection closed.");
                };
            }
            //$scope.SubMatchTicker();

            $scope.SubscribeToMarketPair = function (item) {
                $scope.selectedPair = item.pair;
                $scope.marketRate = item.stat.currentMarketPrice;
                $scope.SubTradeTicker(item.pair);
                $scope.SubMatchTicker(item.pair);
            }


            $scope.UnSubscribeFromAllMarketPair = function () {
                $scope.ResetAllVariables(true, true, false, true);
            }




            $scope.StatsRefreshInterval = 5000; $scope.AutoRefreshStats = false;
            $scope.TotalStats = { Submission: 0, Processed: 0, Trades: 0, Cancellation: 0, Book: 0, OpenOrders: 0, DustOrders: 0, TPS: 0 };
            $scope.StatsTimeout;
            $scope.GetStats = function () {
                $http({
                    method: "Get",
                    url: "http://localhost:8080/Stats?Pair=",
                    contentType: "application/json"

                }).then(function (data) {
                    if (data.data != null && data.data.status == "success") {
                        $scope.TotalStats = { Submission: 0, Processed: 0, Trades: 0, Cancellation: 0, Book: 0, OpenOrders: 0, DustOrders: 0, TPS: 0 }
                        $scope.Stats = data.data.data;
                        angular.forEach($scope.Stats, function (item, index) {
                            $scope.TotalStats.Submission += item.stat.submission;
                            $scope.TotalStats.Processed += item.stat.processed;
                            $scope.TotalStats.Trades += item.stat.trades;
                            $scope.TotalStats.Cancellation += item.stat.cancellation;
                            $scope.TotalStats.Book += item.stat.book;
                            $scope.TotalStats.OpenOrders += item.stat.openOrders;
                            $scope.TotalStats.DustOrders += item.stat.dustOrders;
                            $scope.TotalStats.TPS += item.stat.tps;
                        });
                    }

                    if ($scope.AutoRefreshStats) {
                        $scope.StatsTimeout = $timeout(function () { $scope.GetStats() }, $scope.StatsRefreshInterval);
                    }

                }, function (err) {
                    ShowAlert("Error while fetching stats.", "error");
                    console.log(err);
                    if ($scope.AutoRefreshStats)
                        $scope.StatsTimeout = $timeout(function () { $scope.GetStats() }, 2 * $scope.StatsRefreshInterval);
                });
            }
            $scope.GetStats();

            $scope.closeStatsModal = function () {
                $scope.AutoRefreshStats = false;
                $timeout.cancel($scope.StatsTimeout);
            }


            $scope.openManageModal = function () {
                $scope.closeStatsModal();
                $scope.AutoRefreshStats = true;
                $scope.GetStats(false);
                openModal('ME_Manage_Modal');
            };



            $scope.ResetME = function (pair = "") {
                $http({
                    method: "Post",
                    url: "http://localhost:8080/ResetME?pair=" + pair + "&remove=True",
                    contentType: "application/json"
                }).then(function (data) {
                    if (data.data != null && data.data.status == "success") {
                        if (pair == "" || pair == $scope.selectedPair)
                            $scope.ResetAllVariables();
                        console.log(data.data.data);
                    }
                }, function (err) {
                    console.log(err);
                });
            }



            $scope.isOrderIsBeingPlaced = false;
            $scope.PlaceOrder = function (numberOfOrders = 100, inParallel = false, isBulk = false, pair = '', interval = 0) {
                $scope.isOrderIsBeingPlaced = true;
                $http({
                    method: "Post",
                    url: "http://localhost:8080/MeClient_OrderBot?numberOfOrders=" + numberOfOrders + "&inParallel=" + inParallel + "&isBulk=" + isBulk + "&interval=" + interval + "&pair=" + pair,
                    contentType: "application/json"
                }).then(function (data) {
                    if (data.data != null && data.data.status == "success") {
                        console.log(data.data.data);
                    }
                    $scope.isOrderIsBeingPlaced = false;
                }, function (err) {
                    console.log(err);
                    $scope.isOrderIsBeingPlaced = false;
                });
                $('#ME_Manage_Modal').modal('hide');
            }




            $scope.getEndpoints = function () {
                $http({
                    method: "Get",
                    url: "http://localhost:8080/Endpoints",
                    contentType: "application/json"
                }).then(function (data) {
                    if (data.data != null && data.data.status == "success") {
                        $scope.Endpoints = data.data.data;
                        console.log($scope.Endpoints);
                        $('#ME_Endpoints_Modal').modal('show');
                    }
                }, function (err) {
                    console.log(err);
                });
            }

        });
    </script>
</body>
</html>
